

<div class="d-flex h-100">
    
    <app-presentacion-login class="container"></app-presentacion-login>
        
    <p-divider layout="vertical"></p-divider>

    <app-login class="container"></app-login>

</div>




<div class="bg-fbs-orange p-3 fixed-top"></div>

<!-- <div class="container-fluid h-100">


    
    <div class="row h-100">
        <div class="col text-center my-auto">
            <app-presentacion-login></app-presentacion-login>
        </div>


        
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<div class="bg-fbs-dark-blue p-3 fixed-bottom"></div>