<p-toast></p-toast>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="my-3">
    <p-card header="Mantenimiento de Areas">


        <div class="p-fluid row mb-2 gap-1">
            <div class="field col-lg-2 col-md-12">
                <p-button styleClass="p-button-primary" label="Agregar" icon="pi pi-plus" (click)="areaNueva()"></p-button>
            </div>
            <div class="field col-lg-2 col-md-12">
                <button pButton label="Clear" class="p-button-outlined p-button-info" icon="pi pi-filter-slash"
                    (click)="clear(dt)"></button>
            </div>
            <div class="field col-lg-3 col-md-12 ms-auto">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText #inputFilter type="text" (input)="dt.filterGlobal(inputFilter.value, 'contains')"
                        placeholder="Filtro Global" />
                </span>
            </div>


        </div>

        <p-table #dt dataKey="id" [columns]="cols" [value]="areas" [loading]="loading"
            [tableStyle]="{'min-width': '50rem'}" [rowsPerPageOptions]="[10,25,50]" [rows]="15" [rowHover]="true"
            [paginator]="true" [showCurrentPageReport]="true"
            currentPageReportTemplate="{first} a {last} de {totalRecords} registros"
            [globalFilterFields]="['ID_AREA','NOMBRE_AREA','DESCRIPCION_AREA','FECHA']">


            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of cols" [pSortableColumn]="col.field" [style]="col.style">
                        {{col.header | titlecase}}
                        <p-sortIcon *ngIf="col.field" [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-area>
                <tr>
                    <td>{{area.ID_AREA }}</td>
                    <td>{{area.NOMBRE_AREA}}</td>
                    <td>{{area.DESCRIPCION_AREA}}</td>
                    <td>{{area.FECHA | date : 'dd/MM/YYYY'}}</td>
                    <td>
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary me-2"
                            (click)="editarArea(area)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="eliminarArea(area)"></button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </p-card>
</div>





<p-dialog [(visible)]="areaDialog" [style]="{width: '600px'}" header="Detalles del Área" [draggable]="false"
    [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Nombre</label>
            <input type="text" pInputText id="name" [(ngModel)]="area.NOMBRE_AREA" required autofocus />
            <small class="p-error" *ngIf="submitted && !area.NOMBRE_AREA">El nombre es obligatorio</small>
        </div>
        <div class="field">
            <label for="description">Descripcion</label>
            <textarea id="description" pInputTextarea [(ngModel)]="area.DESCRIPCION_AREA" rows="3"
                cols="20"></textarea>
        </div>

        <div *ngIf="editando" class="formgrid row">
            <div class="field col">
                <label for="fecha">Fecha de Creación</label>
                <input type="text" pInputText id="fecha" placeholder="{{area.FECHA | date:'dd/MM/YYYY'}}"
                    disabled="true" />
            </div>
            <div class="field col">
                <label for="codigo">Código</label>
                <input id="disabled-input" type="number" pInputText [disabled]="true"
                    [(ngModel)]="area.ID_AREA" />
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text p-button-danger"
            (click)="cerrarDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text"
            (click)="guardarCambios()"></button>
    </ng-template>
</p-dialog>