<div class="row my-3">
    <p-card header="Mantenimiento de Areas">
        <div class="col-12 mb-2">
            <p-button styleClass="p-button-warning" label="Agregar" icon="pi pi-plus"></p-button>
        </div>
        <div class="col">
            <p-table [value]="areas" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Fecha</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-area>
                    <tr>
                        <td>{{area.ID_AREA }}</td>
                        <td>{{area.NOMBRE_AREA}}</td>
                        <td>{{area.DESCRIPCION_AREA}}</td>
                        <td>{{area.FECHA | date}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
    </p-card>
</div>