<div id="sidebar">

    <div class="row">
        <div class="col text-center">
            <p-image 
                src="../../../assets/images/FBS_LOGO2.png" 
                alt="FBS-LOGO" 
                width="150">
            </p-image>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col">
            <!-- <ul class="list-group">
                <li class="list-group-item" [routerLink]="''" [routerLinkActive]="'active animate__animated animate__bounceIn'" [routerLinkActiveOptions]="{ exact : true }">
                    <i class="bi bi-house"></i>
                    Inicio
                </li>
                <li class="list-group-item" [routerLink]="'registroEntrada'" [routerLinkActive]="'active animate__animated animate__bounceIn'">
                    <i class="bi bi-journal-text"></i>
                    Registro de entrada
                </li>
                <li class="list-group-item" [routerLink]="'inventarioAreas'" [routerLinkActive]="'active animate__animated animate__bounceIn'">
                    <i class="bi bi-stack"></i>
                    Inventario de áreas
                </li>
                <li class="list-group-item" [routerLink]="'inventarioTramites'" [routerLinkActive]="'active animate__animated animate__bounceIn'">
                    <i class="bi bi-ui-checks"></i>
                    <i class="bi bi-collection"></i>
                    Inventario de trámites
                </li>
            </ul> -->

        </div>

    </div>

    
</div>


